section.contact-us {
  margin: 2rem auto;
  width: 80vw;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.donate-btn {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.donate-btn > button:hover {
  border-color: var(--footer-bg);
}

section.contact-us form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  min-height: 400px;
}

section.contact-us form button {
  background-color: var(--brand-color-1) !important;
  color: white;
}
.contacts {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 77vh;
}

.contacts::before {
  content: "";
  background-image: url("../images/contact.png");
  background-size: contain;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
  padding: 12px;
}

.contacts * {
  color: white;
  position: relative;
}

.danger {
  color: red;
  font-size: 0.6rem;
}
